<div class="row" *ngIf="isLoad">
  <div class="col s12 m12 l12 center-align">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">

    <div fxLayout="column" fxLayoutAlign="space-around center" >
      <app-card [card]="listCards"></app-card>
    </div>

 
</div>